---
layout: default
---

<div class="home-columns">
  <div class="column-left">
<div class="home">
  <h2>Documents for the frontier.</h2>
  <p><b>Workpads is a <a href="https://workpads.babb.tel">protocol</a> & mobile app for <a href="/creating">creating</a> & <a href="/sharing">sharing</a> business records</a>, based on the <a href="https://www.babb.tel/bitpads/">Bitpads Standard</a>. </b></p>

  <p>Launching now on <a href="/kaios">KaiOS</a>! View <a href="https://www.kaiostech.com/store/apps/?bundle_id=com.babbworks.workpads">the app</a> or try the <a href="https://workpads.app/mobile/kaios">demo</a>.</p>
  <hr>
  <br>
  
  <p>Each Workpad is a standalone document. By default, all identifying information is removed when sharing with others. </p>
  <p>Generate anonymous links or create <a href="/images-made-for-mobile.md">images made for mobile</a>.</p>
  <h4>🚀 Read our <a href="/vision">Vision for the Working World</a>.</h4>
  <h4>🛣️ Checkout our <a href="/roadmap">roadmap</a>.</h4>
  <p>🌌 Why <a href="/why">Workpads</a>?</p>

  <p>-----</p>
  <h5>To learn about our commitment to privacy see <a href="/science-of-sovereignty">Computer Science of Sovereignty</a>.</h5>
</div>
</div>

 <div class="column-right">
  <h2><b><a href="/updates">Updates</a></b></h2>
  <ul>
    {% for post in site.posts limit:5 %}      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%B %d, %Y" }}</span>
      </li>
    {% endfor %}
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

  </ul>

  </div>
</div>


